<section>

    <h1>Proyecto Fedora</h1>

    <p><a href="http://fedoraproject.org/es"><img src="http://fedoraproject.org/static/images/banners/f18release.png" title="Fedora 18"></a></p>

    <p><a href="http://fedoraproject.org/es/get-prerelease"><img src="http://fedoraproject.org/static/images/banners/f19beta.png" title="Fedora 19 Beta"></a></p>

    <p><script id="fedora-banner" type="text/javascript" src="http://fedoraproject.org/static/js/release-counter-ext.js?lang=es&width=200px"></script></p>

</section>
