<section>

    <h1>Links Sobre Fedora</h1>

    <ul>

        <li><a href="http://ask.fedoraproject.org">Ask Fedora</a></li>

        <li><a href="http://docs.fedoraproject.org">Fedora Docs</a></li>

        <li><a href="http://forums.fedoraforum.org">Fedora Forum</a></li>

        <li><a href="http://planet.fedoraproject.org">Fedora Planet</a></li>

        <li><a href="http://fedorasolved.org">Fedora Solved</a></li>

        <li><a href="http://admin.fedoraproject.org/pkgdb">Fedora Packages</a></li>

    </ul>

</section>
